
@font-face {
    font-family: gaming;
    src: url(fonts/KnightWarrior-w16n8.otf);
}
@font-face {
    font-family: as;
    src: url(fonts/Anothershabby_trial.ttf);
}

body {
    font-family: sans-serif;
    background-image: url(images/580b57fcd9996e24bc43c3ee.png), radial-gradient(#823776, #1B0000 110%);
    background-size: 600px, 100%;
    background-position: right, center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-container {
    display: block;
    position: absolute;
    top: 70px;
    right: 290px;
    font-family: 'gaming';
    color: white;
    font-size: 20px;
}
.form-container input{
    border-radius: 3px;
    border: 0;
    width: 200px;
    height: 30px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.headertitle {
    font-family: 'gaming';
    font-size: 60px;
    color: white;
    margin-left: 500px;
}
.icon{
    width: 50px;
    height: auto;
}
.cart{
    width: 50px;
    height: auto;
}
.oh{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 50px;
    width: 200px;
    gap: 30px;
    margin-right: 500px;
}
.header {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10%;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    background-color: #764C4C;
    border-radius: 20px;
    height: 800px;
}

.destaque{
    width: 40%;
    height:800px;
    margin-top: 30px;
}
.pop{
    font-family: 'gaming';
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pop .p{
    font-family: 'as';
    font-size: 25px;
    color: white;
}

.gallery {
    background: #eeeeee00;
    margin-top: 30px;
  }
  
  .gallery-cell1 {
    width: 66%;
    height: 600px;
    margin-right: 10px;
    background-image: url(images/lcart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    counter-increment: gallery-cell;
  }
  .gallery-cell2 {
    width: 66%;
    height: 600px;
    margin-right: 10px;
    background-image: url(images/Lies_of_p_cover_art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    counter-increment: gallery-cell;
  }
  .gallery-cell3 {
    width: 66%;
    height: 600px;
    margin-right: 10px;
    background-image: url(images/Hollow_Knight_first_cover_art.webp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    counter-increment: gallery-cell;
  }

.games{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 30px;
    height: 700px;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.games.hidden {
    display: none;
}
.games section {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
}

h2 {
    font-family: 'halo2';
    font-size: 20px;
    color: #ee9c20;
}

.options {
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    color: white;
}

.options div {
    background-color: black;
}


.saldo {
    font-family: 'Leelawadee UI';
    font-size: 20px;
    font-weight: bolder;
}



section.produto1, .produto2, .produto3, .produto4, .produto5, .produto6, .produto7, .produto8, .produto9, .produto10, .produto11, .produto12 {
    display: inline-block;
    margin: 10px;
    background-color: #401627;
    border-radius: 5px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}
.produto1{
    background-image: url(images/download.jfif);
    background-position: center;
    background-size: cover;
}
.produto2{
    background-image: url(images/download\ \(1\).jfif);
    background-position: center;
    background-size: cover;
}
.produto3{
    background-image: url(images/download\ \(2\).jfif);
    background-position: center;
    background-size: cover;
}
.produto4{
    background-image: url(images/download\ \(3\).jfif);
    background-position: center;
    background-size: cover;
}
.produto5{
    background-image: url(images/UO2YF6KUSJICDCGPNBWIDZV4YI.jpeg);
    background-position: center;
    background-size: cover;
}
.produto6{
    background-image: url(images/images.jfif);
    background-position: center;
    background-size: cover;
}
.produto7{
    background-image: url(images/download\ \(4\).jfif);
    background-position: center;
    background-size: cover;
}
.produto8{
    background-image: url(images/vava.jpg);
    background-position: center;
    background-size: cover;
}
.produto9{
    background-image: url(images/renaud-galand-thumb.jpg);
    background-position: center;
    background-size: cover;
}
.produto10{
    background-image: url(images/download\ \(6\).jfif);
    background-position: center;
    background-size: cover;
}
.produto11{
    background-image: url(images/rayman_legends___cover_by_brunoanjopro_df2e8ya-414w-2x.jpg);
    background-position: center;
    background-size: cover;
}
.produto12{
    background-image: url(images/download\ \(5\).jfif);
    background-position: center;
    background-size: cover;
}


button {
    border: 0px;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.226);
    font-family: 'gaming';
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 75px;
}

button:hover {
    background-color:#803553;
    color: white;
    box-shadow: 3px 3px 3px black;
}